$border_color: black;

.grid {
    margin: 2px;
}

.column {
    display: inline-block;
}

.square {
    width: 18px;
    height: 18px;
    border: 1px solid $border_color;
}

.higherSquare {
    width: 18px;
    height: 19px;
    border: 0.5px solid $border_color;
}

.widerSquare {
    width: 19px;
    height: 18px;
    border: 0.5px solid $border_color;
}

.higherAndWiderSquare {
    width: 19px;
    height: 19px;
    border: 0.5px solid $border_color;
}

.normalSquare {
    width: 18px;
    height: 18px;
    border: 0.5px solid $border_color;
}